.box1 { width:300px; height:100px; background:pink }
.box2 { width:200px; height:60px; background:green}
.box3 { width:100px; height:80px; background:skyblue}
.box4 { width:300px; height:70px; background:yellow}