.Test6 {}
.Test6 p { font-size: 25px; line-height: 40px; margin-bottom: 15px; }
.Test6 .test { background: pink;}
.Test6 .test.on { background: skyblue;}
.Test6 .on1 { background: yellow; }
.Test6 button { padding: 20px 25px; }